*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    border-bottom: solid grey 1px;
}
figure{
    display: flex;
    justify-content: space-around;
    width: 12.6vw;
}
ul{
    display: flex;
    list-style: none;
    width: 26vw;
    justify-content: space-evenly;
    font-size: 18px;
}
li:hover{
    transform: scale(115%);
    cursor: pointer;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 78vh;
}
p{
    font-weight: 900;
    font-size: 36px;
    width: 35vw;
}
button{
    background-color: #FCA60F;
    height: 7vh;
    width: 18vw;
    border: none;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}
/* 
    media queries

    @media -> ele é a regra de estilo do CSS
    que permite que criemos estilos para diferentes tipos
    de layouts (smarts Tvs, monitores, televisões, 
    smartwatches, celulares...)

    sintaxe (forma escrita)

    @media screen and (max-width:500px){
        max-width -> aplique esse estilo de página
        para telas com larguras menores que 500px
    }

    @media screen and (min-width:1300px){
        min-width -> aplique esse estilo de página
        para telas com larguras maiores que 1300px
    }

*/


@media screen and (max-width:500px){
    /* 
    o código que será escrito aqui vai ser totalmente
    voltado para telas com largura menor que 500px
    */
    header{
        flex-direction: column;
        height: 20vh;
    }
    ul{ 
        width: 45vw;
    }
    main figure{
        display: none;
    }
    p{
        font-size: 20px;
        width: 60vw;
        text-align: center;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}